.logo img {
  width: 130px;
  height: auto;
  margin-top: 8px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

button {
  margin-left: 15px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
  margin-top: 5px;
}

.button-primary {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.button-secondary {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--grey);
}
