:root {
  --primary: rgb(113, 42, 212);
  --light-black: #373737;
  --light-primary: rgb(209, 200, 255);
  --white: #ffffff;
  --off-white: #ececec;
  --grey: rgb(170, 170, 170);
}
body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--off-white);
}

p {
  margin: 0;
}
